<template>
  <div id="app">
    <h2>分带投影测试</h2>
    <div>
      当前使用的投影：{{ currentProjection }}
    </div>
    <div>
      UTM WGS84 北半球
      <select name="proj" id="projSelect"
        @change="changeProjection">
        <option value="" class="hidden">请选择</option>
        <option v-for="WKID in UTM_WKIDs_North" :value="WKID" :key="WKID">{{WKID}}</option>
      </select>
    </div>
    <div>
      CGCS2000 高斯克吕格
      <select name="proj" id="projSelect2" @change="changeProjection">
        <option value="" class="hidden">请选择</option>
        <option v-for="WKID in CGCS2000_WKIDs" :value="WKID" :key="WKID">{{WKID}}</option>
      </select>
    </div>
    <br>
    <!-- <div>
      坐标系代码：<input type="text" id="proj-code" > <button onclick="clickSearch()">查询</button>
      <span id="code-preview"></span>
    </div> -->
    <br>
    <div id="map" class="map">
      <div id="mouse-position"></div>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import 'ol/ol.css';
import Map from 'ol/Map';
import View from 'ol/View';
import {applyTransform, getTopLeft} from 'ol/extent';
import TileLayer from 'ol/layer/Tile';
import {get as getProjection, getTransform, fromLonLat} from 'ol/proj';
import {defaults as defaultControls} from 'ol/control';
import {register} from 'ol/proj/proj4';
import OSM from 'ol/source/OSM';
import WMTS from 'ol/source/WMTS';
import WMTSTileGrid from 'ol/tilegrid/WMTS';
import TileImage from 'ol/source/TileImage';
import proj4 from 'proj4';
import MousePosition from 'ol/control/MousePosition';
import {createStringXY} from 'ol/coordinate';

import { UTM_WKIDs_North, CGCS2000_WKIDs } from './constants'

export default {
  name: 'app',
  components: {
    // HelloWorld
  },
  data() {
    var _UTM_WKIDs_North = [], _CGCS2000_WKIDs = [];
    for (let i = UTM_WKIDs_North.start; i <= UTM_WKIDs_North.stop; i++) {
      _UTM_WKIDs_North.push(i)
    }
    for (let j = CGCS2000_WKIDs.start; j <= CGCS2000_WKIDs.stop; j++) {
      _CGCS2000_WKIDs.push(j)
    }
    return {
      UTM_WKIDs_North: _UTM_WKIDs_North,
      CGCS2000_WKIDs: _CGCS2000_WKIDs,
      currentProjection: 'EPSG: 4326'
    }
  },
  mounted() {
    var projection = getProjection('EPSG:4326');//设置坐标系
		var projectionExtent = projection.getExtent();
		//分辨率
		var resolutions = [
			1.40625,
			0.703125,
			0.3515625,
			0.17578125,
			0.087890625,
			0.0439453125,
			0.02197265625,
			0.010986328125,
			0.0054931640625,
			0.00274658203125,
			0.001373291015625,
			0.0006866455078125,
			0.00034332275390625,
			0.000171661376953125,
			0.0000858306884765625,
			0.00004291534423828125,
			0.000021457672119140625,
			0.000010728836059570312,
			0.000005364418029785156,
			0.000002682209014892578,
			0.000001341104507446289
		];
		//瓦片矩阵
		var matrixIds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18];

    var mousePositionControl = new MousePosition({
      coordinateFormat: createStringXY(4),
      projection: 'EPSG:4326',
      // comment the following two lines to have the mouse position
      // be placed within the map.
      className: 'custom-mouse-position',
      target: document.getElementById('mouse-position'),
      undefinedHTML: '&nbsp;'
    });

		var map = new Map({
			target: 'map',
			layers: [
				// new Tile({
				// 	source: new ol.source.OSM()
				// }),
				new TileLayer({
					source: new WMTS({
						url: "http://t{0-6}.tianditu.com/img_c/wmts?&tk=4e7d7ac0fe6163b858bed46f50c64efd",
						layer: "img",
						style: "default",
						matrixSet: "c",
						format: "tiles",
						wrapX: true,
						projection: 'EPSG:4326',
						tileGrid: new WMTSTileGrid({
							origin: getTopLeft(projectionExtent),
							resolutions: resolutions.slice(0, 15),
							matrixIds: matrixIds.slice(0, 15)
						})
					}),
					// maxResolution: resolutions[0],
					// minResolution: resolutions[14]
				})
			],
			view: new View({
				center: fromLonLat([37.41, 8.82]),
				zoom: 4
      }),
      controls: defaultControls().extend([mousePositionControl]),
    });
    
    this.map = map;
  },
  methods: {
    changeProjection(e) {
      var val = e.target.value;
      console.log(val)
      
      this.search(val);
    },
    search(code) {
      var that = this
      fetch('https://epsg.io/?format=json&q=' + code).then(function(response) {
				return response.json();
			}).then(function(json) {
				var results = json['results'];
				if (results && results.length > 0) {
					for (var i = 0, ii = results.length; i < ii; i++) {
						var result = results[i];
						if (result) {
							var code = result['code'];
							var name = result['name'];
							var proj4def = result['proj4'];
							var bbox = result['bbox'];
							if (code && code.length > 0 && proj4def && proj4def.length > 0 &&
									bbox && bbox.length == 4) {
								that.setProjection(code, name, proj4def, bbox);
								return;
							}
						}
					}
				}
				setProjection(null, null, null, null);
			});
    },
    setProjection(code, name, proj4def, bbox) {
      if (code === null || name === null || proj4def === null || bbox === null) {
        // resultSpan.innerHTML = 'Nothing usable found, using EPSG:3857...';
        this.currentProjection = 'EPSG:4326'
        this.map.setView(new View({
          projection: 'EPSG:3857',
          center: [0, 0],
          zoom: 1
        }));
        return;
      }

      // resultSpan.innerHTML = '(' + code + ') ' + name;
      this.currentProjection = `EPSG: ${code}, ${name}`
      var newProjCode = 'EPSG:' + code;
      proj4.defs(newProjCode, proj4def);
      register(proj4);
      var newProj = getProjection(newProjCode);
      var fromLonLat = getTransform('EPSG:4326', newProj);

      // very approximate calculation of projection extent
      var extent = applyTransform(
        [bbox[1], bbox[2], bbox[3], bbox[0]], fromLonLat);
      newProj.setExtent(extent);
      var newView = new View({
        projection: newProj
      });
      this.map.setView(newView);
      newView.fit(extent);
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.map {
  height: 400px;
  width: 100%;
  position: relative;
}

#mouse-position {
  position: absolute;
  left: 0;
  bottom: 0;
  color: yellow;
  z-index: 9;
}

.hidden {
  display: none;
}
</style>
